.content-navbar {
  max-width: 1700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

@media (max-width: 768px) {
  .content-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-navbar img {
    display: none;
  }
}

.content-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.content-input input {
  font-size: 1rem;
  color: #000;
  outline: none;
  width: 40vw;
  border: none;
  padding: 0 20px 5px 10px;
  border-bottom: 2px solid #ccc;
}

.content-input img {
  position: relative;
  left: -45px;
  bottom: 5px;
  color: #000;
  z-index: 2;
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  .content-input {
    position: absolute;
    bottom: 20px;
    gap: 0px;
    width: 90%;
  }

  .content-input img {
    left: -25px;
  }

  .content-input input {
    width: 100%;
    right: 0;
    font-size: 0.875rem;
  }
}

.right-logo {
  width: 30px;
  object-fit: contain;
  margin-right: 60px;
}

@media (max-width: 768px) {
  .right-logo {
    height: 80px;
  }
}

.nav {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .nav {
    padding: 10px;
    height: 80px;
    width: 100%;
    align-items: baseline;
  }
}

.notification {
  display: flex;
  align-items: center;
  padding-top: 12px;
  display: relative;
  position: relative;
  cursor: pointer;
}

@media (max-width: 768px) {
  .notification {
    position: absolute;
    right: 40px;
    top: 5px;
  }
}

.notification img {
  color: rgb(77, 76, 77);
  margin-right: 5px;
  width: 25px;
  height: 25px;
  margin-top: -10px;
}

.notification span {
  width: 25px;
  height: 25px;
  font-size: 0.75rem;
  border-radius: 100%;
  background-color: rgb(106, 188, 70);
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: 18px;
}

.icon-search {
  color: #000;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  .notification img {
    display: block;
    margin: 0;
    margin-left: 10px;
  }

  .notification span {
    top: 0;
    left: 28px;
  }
}
