<section class="flex min-h-screen">
  <article style="background-image: url('../../../../assets/fruits/fruitsBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;">
    <div class="bg-black bg-opacity-25 p-10 flex flex-col items-center justify-center w-full">
      <h1 class="text-white font-bold text-extra_gigantic">
        FrutaFeira
      </h1>
      <span class="text-white font-medium text-ultra_large">
        Compre aqui e deixe a sua vida mais suculenta!
      </span>
    </div>
  </article>

  <article class="flex-1 h-screen flex flex-col justify-center items-center">
    <ng-content></ng-content>
  </article>
</section>
